@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.join-create {
  &__heading {
    @include heading-mobile;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
