//COLOURS
$table-tennis-blue-light: #156596;
$table-tennis-blue-dark: #0c3a57;
$table-tennis-blue-highlight: #082537;
$table-tennis-white: #f7f3e8;
$table-tennis-green: green;
$table-tennis-orange: #ffa500;

//MARGIN
$margin-bottom-label: 4px;

//PADDING
$padding-mobile: 16px;
$padding-tablet: 32px;
$padding-header-elements: 3.2rem;
$padding-form-input: 0.8rem;

//MAX WIDTH
$max-width-desktop: 1020px;
$max-width-form: 450px;

//BORDER RADIUS
$border-radius-button: 20px;
