@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.no-group {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
